*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
font-family: 'Young Serif', serif;
}
h1{
margin: 20px 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100%;
    background-color: hsl(30, 54%, 90%);
}

.box{
    padding: 1.5rem;
    width: 50vw;
    min-height: 100%;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
}
header img{
    width: 100%;
    border-radius: 0.5rem;
}
.instruction ol li ,p{
margin-left: 18px;
}
.nutrition td , th{
    border-bottom: 1px solid #ddd;
      border-collapse: collapse;
      text-indent: 50px;
      line-height: 2;
}
table{
    width: 100%;
}
.preparation{
    background-color: hsl(330, 100%, 98%);
    border-radius: 10px;
    height: 10vh;
    margin: 30px 0;
}
section{
    margin-bottom: 30px;
}
h2  {
    color: brown;
    margin-bottom: 20px;
}
h3{
    color: purple;
    margin-bottom: 20px;
}
.tbl{
    color: brown;
    font-weight: bold;
}
.ingredient{
    margin-top: 20px;
}
